### 01.Finding the Problem - Application
 "Predicting wheather this New Customer, 
will buy this Product or Not"

### 02.Collecting Dataset
 Input: AGE & SALARY Output: PURCHASE 
STATUSs (Purchased & Not Purchased)

### 03.Load & Summarize Dataset

In [2]:
import pandas as pd
dataset = pd.read_csv("DigitalAd_dataset.csv")
dataset.head()

   Age  Salary  Status
0   18   82000       0
1   29   80000       0
2   47   25000       1
3   45   26000       1
4   46   28000       1

### 04. Segregating Dataset into X & Y

In [5]:
X=dataset.iloc[:,0:-1]
y=dataset.iloc[:,-1]
X

     Age  Salary
0     18   82000
1     29   80000
2     47   25000
3     45   26000
4     46   28000
..   ...     ...
395   35   65000
396   26   80000
397   26   52000
398   20   86000
399   32   18000

[400 rows x 2 columns]

### 05. Splitting Dataset to Train & Test